:root{
  --titulos: #102d47;
  --texto: #000;
  --fondo-principal: #e2e2e2;
  --fondo-secun: #717976;
  --formulario: #fffaf2;
}


/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--texto);
}

h1, h2, h3 {
  color: var(--titulos)
}

p {
  color: var(--texto);
}

/* Estilos de la barra de navegación */
header {
  background-color: #969ce0;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--texto);
  font-weight: bold;
}

/* Estilos de las secciones */
section {
  padding: 50px;
}

#inicio {
  background-color: var(--fondo-principal);
}

#sobremi {
  background-color: var(--fondo-secun);
}

#proyectos {
  background-color: var(--fondo-principal);
}

#contacto {
  background-color: var(--fondo-secun);
}

/* Estilos del formulario de contacto */
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

img {
  border-radius: 50%;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

form input[type="submit"] {
  background-color: var(--fondo-principal);
  color: var(--texto);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos del footer */
footer {
  background-color: #73e4ff;
  padding: 20px;
  color: white;
  text-align: center;
}
